body{
    font-family: 'Source Sans Pro', sans-serif;
}

.box,.slider-container{
    width: 700px;
    margin: auto; 
}

.slider-img{
    width: 100%;
    aspect-ratio: 4 / 5;
    object-fit: contain;
    /* display: none; */
}

.active-image{
    display: block;
} 

.prev{
    top: 3rem;
    right: 331px;
}

.next{
    bottom: 3rem;
    right: 331px;
}